.caaa {
    flex-grow: 1;
    align-self: stretch;
}

.buttons {
    width: 50px;
    height: 50px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    background-color: rgba(0,0,0,0);
    background-image: url("project://database/Assets/AdoptMe/Assets/UI/Family.png?fileID=2800000&guid=01344dcdb2f31ee4db1961255aefc544&type=3#Family");
}