.-test {
}

.ChoicePanelContainer {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.39);
    height: 1920px;
    width: 1080px;
    position: relative;
    flex-basis: auto;
    flex-shrink: 1;
    align-self: stretch;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.MainContainer {
    flex-grow: 1;
}

.ChoicePanel {
    flex-grow: 1;
    width: 550px;
    position: absolute;
    align-self: center;
    justify-content: flex-start;
    bottom: 0;
    height: 300px;
    top: 45%;
    left: auto;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    -unity-text-align: upper-left;
    right: auto;
}

.PanelTitle {
    align-self: stretch;
    -unity-text-align: upper-center;
    font-size: 40px;
    -unity-font-style: bold;
    -unity-font: url("project://database/Assets/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=47b8dfb9243717841957a2d3bc81dff6&type=3#NotInter-Regular");
}

.ButtonContainer {
    flex-grow: 1;
    flex-direction: row;
    align-self: center;
}

.B_Parent {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    background-color: rgba(185, 185, 185, 0);
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-self: center;
    background-image: none;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.B_Parent_Title {
    align-self: center;
    font-size: 18px;
    justify-content: flex-start;
    -unity-text-align: middle-center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: absolute;
    top: 145px;
    left: auto;
    -unity-font-style: bold;
}

.B_Baby {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-self: center;
    background-color: rgba(188, 188, 188, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.B_Baby_Title {
    align-self: center;
    font-size: 18px;
    justify-content: flex-start;
    -unity-text-align: middle-center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: absolute;
    top: 145px;
    left: auto;
    -unity-font-style: bold;
}

.BabyIcon {
    flex-grow: 1;
    background-image: url("project://database/Assets/AdoptMe/Assets/UI/Baby.png?fileID=2800000&guid=db19846b605cf284783bba88983f41c3&type=3#Baby");
    width: 130px;
    height: 130px;
    align-self: center;
    position: absolute;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.ParentIcon {
    flex-grow: 1;
    background-image: url("project://database/Assets/AdoptMe/Assets/UI/Parent.png?fileID=2800000&guid=985d6deaf57c84a49bb81b72c043b906&type=3#Parent");
    width: 150px;
    height: 150px;
    align-self: center;
    position: absolute;
}
